expect(page).to have_selector("form")
expect(page).to have_field(:name)
expect(page).to have_field(:breed)
expect(page).to have_field(:age)

<form class="" action="/display_puppy" method="post">
  
</form>